<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1> Confirm your email here: <%= confirm_your_email_user_url(token: @user.unique_token) %> </h1>
  </body>
</html>